<!DOCTYPE html>
<html>
    <head>
        <title>Single</title>
        <link href="<?php echo base_url().'style/css/bootstrap.css';?>" rel="stylesheet" type="text/css" media="all" />
        <!--theme-style-->
        <link href="<?php echo base_url().'style/css/style.css';?>" rel="stylesheet" type="text/css" media="all" />	
        <link rel="stylesheet" href="<?php echo base_url().'style/css/etalage.css';?>" type="text/css" media="all" />
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--fonts-->
        <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <!--//fonts-->
        <script src="<?php echo base_url().'style/js/jquery.min.js';?>"></script>

        <script src="<?php echo base_url().'style/js/jquery.easydropdown.js';?>"></script>
        <script src="<?php echo base_url().'style/js/jquery.etalage.min.js';?>"></script>
        <script>
                    jQuery(document).ready(function ($) {

                $('#etalage').etalage({
                    thumb_image_width: 300,
                    thumb_image_height: 400,
                    source_image_width: 900,
                    source_image_height: 1200,
                    show_hint: true,
                    click_callback: function (image_anchor, instance_id) {
                        alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                    }
                });

            });
        </script>

    </head>
    <body> 
        <!--header-->
        <div class="header">
            <div class="top-header">
                <div class="container">
                    <h2 ><a href="<?php echo site_url().'/index/product';?>" style="color:white">Gator BookStore!</a></h2>
                </div>

            </div>
            <div class="bottom-header">
                <div class="container">
                    <div class="header-bottom-left">
                        <div class="logo">
                            <a href="<?php echo site_url().'/index/product';?>"><img src="<?php echo base_url().'images/logo.jpg';?>" alt=" " style="width:150px;height:100px"/></a>
                        </div>            <div class="search">
                            <form action="<?php echo site_url('index/search/find'); ?>" method="POST">
                                <div class="search1">
                                    <input type="submit"  value="SEARCH">
                                    <input type="text" name="search_value" value="<?php echo set_value('search_value'); ?>"> 

                                </div>
                                <div class="newselect">
                                    <select name="select">
                                        <option value="title"> Title </option>
                                        <option value="author"> Author </option>
                                        <option value="publisher"> Publisher </option>
                                    </select>
                                </div>    
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-bottom-right">
                        <ul class="men-grid1">
                            <li><a href="<?php echo site_url().'/index/account';?>"><span> </span>YOUR ACCOUNT</a></li>
                            <li>|</li>
                            <li ><a href="<?php echo site_url().'/index/cart';?>"><span> </span>CART</a></li>
                            <li>|</li>
                            <li ><a href="<?php echo site_url().'/index/login';?>"><span> </span>LOGIN/OUT</a></li>
                            <li>|</li>
                            <li ><a href="<?php echo site_url().'/index/register';?>">SIGNUP</a></li>
                            <li>|</li>
                            <li ><a href="<?php echo site_url().'/index/quicksearch';?>">QUICK SEARCH</a></li>



                        </ul>
                    </div>
                    <div class="clearfix"> </div>	
                </div>
            </div>
        </div>
        <!---->

        <div class="container"> 

            <div class=" single_top">
                <div class="single_grid">

                    <div class="grid images_3_of_2">
                        <ul>
                            <li><img src="<?php echo base_url().'/IMG/'.$p['IMG'];?>"  alt="images lost." style="width:300px;height:450px"/></li>
                        </ul>

                        <div class="clearfix"> </div>		
                    </div> 
                    <div class="desc1 span_3_of_2">
                        <ul class="back">
                            <li><i class="back_arrow"> </i>Back to <a href="<?php echo site_url().'/index/product';?>">All products</a></li>
                        </ul>
                        <h1><?php echo $p['TITLE'] ?></h1>
                        <ul class="price_single">
                            <li class="head"><h2>$ <?php echo $p['PRICE']?></h2></li>					
                            <fieldset>					
                                <section>

                                </section>
                            </fieldset>


                            </li>
                            <div class="clearfix"> </div>
                        </ul>
                        <p>Author: <?php echo $p['AUTHOR']?></p>              
                        <p>Publisher: <?php echo $p['PUBLISHER']?></p>               
                        <p>Year of Publication: <?php echo $p['PUBLICATION']?></p>                    
                        <p>Rate: <?php echo $p['RATE']?> /5 </p>
                        <p>Left <?php echo $p['AMOUNT']?> </p>
                        <form action="<?php echo site_url('index/single/addToCart'); ?>" method="POST">
                            <div style="float:right;">
                                <span>Qty<label>:</label></span>
                                <input type="text" size="6" maxlength="3" name='amount'> 
                                <input type="hidden" name="pid" value="<?php echo $p['PID']?>">
                                <input type="submit" class="now-get" value="Add to Cart" />
                            </div>
                        </form>


                    </div>
                    <div class="clearfix"> </div>
                    <div style="margin-top:20px">
                        <table border="0" align="center">
                            <th colspan="5">
                            <div class="login-right"><h3>Customers who bought this also bought...</h3></div>
                            </th>

                            <tr>
                                <?php foreach($recommend as $r): ?>
                                <td align="center" width="170"> <img src="<?php echo base_url().'IMG/'.$r['IMG'];?>" width="75" height="100"/>
                                    <h4><div style="padding-left:20px;padding-right:10px;text-align:center;"><a href="<?php echo site_url().'/index/single/findSingle/'.$r['PID'];?>"><?php echo $r['AMOUNT'] ?>left. </a></div></h4> 
                                    <div ><h4> $ <?php echo $r['PRICE']?></h4>
                                    </div>
                                </td>
                                <?php endforeach ?>
                            </tr>

                            <th colspan="5">
                            <div class="login-right"><h3> Bestsellers in current category...</h3></div>
                            </th>
                       
                            <tr>
                                 <?php foreach($rebycategory as $rb): ?>
                                <td align="center"  width="170"> <img src="<?php echo base_url().'IMG/'.$rb['IMG'];?>" width="75" height="100"/>
                                    <h4><div style="padding-left:20px;padding-right:10px;text-align:center;"><a href="<?php echo site_url().'/index/single/findSingle/'.$rb['PID'];?>"><?php echo $rb['AMOUNT'] ?>left. </a></div></h4> 
                                    <div><h4> $ <?php echo $rb['PRICE']?> </h4>
                                    </div>
                                </td>
                                <?php endforeach ?>
                            </tr>

                        </table>

                        <div class="clearfix"> </div>
                    </div>
                </div>


            </div>

            <!---->
            <div class="sub-cate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                    <ul class="menu">
                        <ul class="kid-menu ">
                            <li><a href="<?php echo site_url().'/index/product/changeCategory/Children';?>">Children's Book</a></li>
                            <li ><a href="<?php echo site_url().'/index/product/changeCategory/Business';?>">Business and Money</a></li>
                            <li><a href="<?php echo site_url().'/index/product/changeCategory/Computer';?>">Computer and Technology</a></li>
                            <li><a href="<?php echo site_url().'/index/product/changeCategory/Cook';?>">Cook Books</a></li>
                            <li ><a href="<?php echo site_url().'/index/product/changeCategory/Comics';?>">Comics and Novels</a></li>
                            <li><a href="<?php echo site_url().'/index/product/changeCategory/Health';?>">Health and Dieting</a></li>
                            <li><a href="<?php echo site_url().'/index/product/changeCategory/Medical';?>">Medical Books</a></li>
                            <li><a href="<?php echo site_url().'/index/product/changeCategory/Law';?>">Law</a></li>
                            <li><a href="<?php echo site_url().'/index/product/changeCategory/Social';?>">Social Science</a></li>
                            <li><a href="<?php echo site_url().'/index/product/changeCategory/Engineering';?>">Engineering</a></li>
                            <li class="menu-kid-left"><a href="<?php echo site_url().'/index/contact';?>">Contact us</a></li>
                        </ul>
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                                menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                <?php foreach($bestseller as $b): ?>
                <div class=" chain-grid menu-chain">
                    <h4>Bestseller of this month.</h4>
                    <a href="<?php echo site_url().'/index/single/findSingle/'.$b['PID'];?>" target="_blank"/><img class="img-responsive chain" src="<?php echo base_url().'/IMG/'.$b['IMG'];?>" alt=" " style="width:200px;height:250px  /></a>	   		     		
                                                                                                                   <div class="grid-chain-bottom chain-watch">
                                                                                                                   <span class="actual dolor-left-grid"><?php echo $b['PRICE']?> $</span> 
                    <h6><?php echo $b['TITLE']?></h6>  		     			   		     										
                </div>
            </div>
            <?php endforeach ?>
            <a class="view-all all-product" href="<?php echo site_url().'/index/product';?>">VIEW ALL PRODUCTS<span> </span></a> 	
        </div>
        <div class="clearfix"> </div>			
    </div>
    <!---->
    <div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="latter">

                    <div class="sub-left-right">

                    </div>
                    <div class="clearfix"> </div>

                </div>
                <div class="latter-right">
                    <p ><font size="3.5">© 1996-2015, Gatorshop.com, Inc. or its affiliates</font> </p>
                    <p><font size="3.5">contact us:1-800-800-800</font> </p>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-cate">

                </div>
                <div class="footer-bottom-cate bottom-grid-cat">

                </div>
                <div class="footer-bottom-cate">

                </div>
                <div class="footer-bottom-cate cate-bottom">

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>