<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <link href="<?php echo base_url().'style/css/bootstrap.css';?>" rel="stylesheet" type="text/css" media="all" />
        <!--theme-style-->
        <link href="<?php echo base_url().'style/css/style.css';?>" rel="stylesheet" type="text/css" media="all" />	
        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!--fonts-->
        <link href='http://fonts.useso.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
        <!--//fonts-->
        <script src="<?php echo base_url().'style/js/jquery.min.js';?>"></script>

        <script src="<?php echo base_url().'style/js/jquery.easydropdown.js';?>"></script>
    </head>
    <body> 
        <!--header-->
        <div class="header">
            <div class="top-header">
                <div class="container">
                    <h2 ><a href="<?php echo site_url().'/index/product';?>" style="color:white">Gator BookStore!</a></h2>
                </div>

            </div>
            <div class="bottom-header">
                <div class="container">
                    <div class="header-bottom-left">
                        <div class="logo">
                            <a href="<?php echo site_url().'/index/product';?>"><img src="<?php echo base_url().'images/logo.jpg';?>" alt=" " style="width:150px;height:100px"/></a>
                        </div>
                                    <div class="search">
                            <form action="<?php echo site_url('index/search/find'); ?>" method="POST">
                                <div class="search1">
                                    <input type="submit"  value="SEARCH">
                                    <input type="text" name="search_value" value="<?php echo set_value('search_value'); ?>"> 
                                    
                                </div>
                                <div class="newselect">
                                    <select name="select">
                                        <option value="title"> Title </option>
                                        <option value="author"> Author </option>
                                        <option value="publisher"> Publisher </option>
                                    </select>
                                </div>    
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="header-bottom-right">
                        <ul class="men-grid1">
                            <li><a href="<?php echo site_url().'/index/account';?>"><span> </span>YOUR ACCOUNT</a></li>
                            <li>|</li>
                            <li ><a href="<?php echo site_url().'/index/cart';?>"><span> </span>CART</a></li>
                            <li>|</li>
                            <li ><a href="<?php echo site_url().'/index/login';?>"><span> </span>LOGIN/OUT</a></li>
                            <li>|</li>
                            <li ><a href="<?php echo site_url().'/index/register';?>">SIGNUP</a></li>
                            <li>|</li>
                       <li ><a href="<?php echo site_url().'/index/quicksearch';?>">QUICK SEARCH</a></li>


                        </ul>
                    </div>
                    <div class="clearfix"> </div>	
                </div>
            </div>
        </div>
        <!---->
        <div class="container"> 

            <div class="account_grid">
                <form action="<?php echo site_url('index/account/update'); ?>" method="POST"> 
                    <div class=" login-right">
                        <h3>PERSONAL INFORMATION</h3>
                        <div class="mation">
                            <span>First Name<label>*</label></span>
                            <input type="text" name='firstname' value="<?php echo $FNAME?>">	
                            <?php echo form_error('firstname','<span>','</span>'); ?>
                            <span>Last Name<label>*</label></span>
                            <input type="text" name='lastname' value="<?php echo $LNAME ?>"> 
                            <?php echo form_error('lastname','<span>','</span>'); ?>
                            <hr>
                            <span>Gender<label>*</label></span>

                            <select name="gender">
                                <option id="">--Search By--</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                            <hr>	
                            <span>Cellphone Number<label>*</label></span>
                            <input type="text" name='cellphone' value="<?php echo $CELLPHONE?>"> 
                            <?php echo form_error('cellphone','<span>','</span>'); ?>
                            <hr>
                            <span>State<label>*</label></span>
                            <select name="state">
                                <option id="">--Search By--</option>
                                <option value="FL">FL</option>
                                <option value="AZ">AZ</option>
                            </select>	
                            <hr>	
                            <span>City<label>*</label></span>
                            <input type="text" name='city' value="<?php echo $CITY ?>">
                            <?php echo form_error('city','<span>','</span>'); ?>
                            <span>Zipcode<label>*</label></span>
                            <input  type="text" name='zipcode' value="<?php echo $ZIPCODE ?>">  
                            <?php echo form_error('zipcode','<span>','</span>'); ?>
                            <span>Address<label>*</label></span>
                            <input  type="text" name='address' value="<?php echo $ADDRESS ?>"> 
                            <?php echo form_error('address','<span>','</span>'); ?>
                            <span>Email Address (User Name)<label>*</label></span>
                            <input type="text" name='email' value="<?php echo $USERNAME ?>"> 
                            <?php echo form_error('email','<span>','</span>'); ?> 

                        </div>
                        <h3>FORGET PASSWORD</h3>
                        <div class="mation">
                            <span>New Password<label>*</label></span>
                            <input type="text" name='r_password1' value="<?php echo set_value('r_password1'); ?>">
                            <?php echo form_error('r_password1','<span>','</span>'); ?>
                            <span>Confirm Password<label>*</label></span>
                            <input type="text" name='r_password2' value="<?php echo set_value('r_password2'); ?>">
                            <?php echo form_error('r_password2','<span>','</span>'); ?>
                        </div>
                        <div class="clearfix"> </div> 
                        <div class="register-but">
                            <input type="submit" value="Save">
                        </div>

                    </div>
                </form>
                <div class="clearfix"> </div>
            </div>

            <div class="sub-cate">
                <div class=" top-nav rsidebar span_1_of_left">
                    <h3 class="cate">CATEGORIES</h3>
                     <ul class="menu">
                    <ul class="kid-menu ">
                        <li><a href="<?php echo site_url().'/index/product/changeCategory/Children';?>">Children's Book</a></li>
                        <li ><a href="<?php echo site_url().'/index/product/changeCategory/Business';?>">Business and Money</a></li>
                        <li><a href="<?php echo site_url().'/index/product/changeCategory/Computer';?>">Computer and Technology</a></li>
                        <li><a href="<?php echo site_url().'/index/product/changeCategory/Cook';?>">Cook Books</a></li>
                        <li ><a href="<?php echo site_url().'/index/product/changeCategory/Comics';?>">Comics and Novels</a></li>
                        <li><a href="<?php echo site_url().'/index/product/changeCategory/Health';?>">Health and Dieting</a></li>
                        <li><a href="<?php echo site_url().'/index/product/changeCategory/Medical';?>">Medical Books</a></li>
                        <li><a href="<?php echo site_url().'/index/product/changeCategory/Law';?>">Law</a></li>
                        <li><a href="<?php echo site_url().'/index/product/changeCategory/Social';?>">Social Science</a></li>
                         <li><a href="<?php echo site_url().'/index/product/changeCategory/Engineering';?>">Engineering</a></li>
                        <li class="menu-kid-left"><a href="<?php echo site_url().'/index/contact';?>">Contact us</a></li>
                    </ul>
                </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                            $(function () {
                                var menu_ul = $('.menu > li > ul'),
                                        menu_a = $('.menu > li > a');
                                menu_ul.hide();
                                menu_a.click(function (e) {
                                    e.preventDefault();
                                    if (!$(this).hasClass('active')) {
                                        menu_a.removeClass('active');
                                        menu_ul.filter(':visible').slideUp('normal');
                                        $(this).addClass('active').next().stop(true, true).slideDown('normal');
                                    } else {
                                        $(this).removeClass('active');
                                        $(this).next().stop(true, true).slideUp('normal');
                                    }
                                });

                            });
                </script>
          
                <a class="view-all all-product" href="<?php echo site_url().'/index/product';?>">VIEW ALL PRODUCTS<span> </span></a> 	
            </div>      
        </div>
        <!---->
        <div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="latter">
					
					<div class="sub-left-right">
						
					</div>
					<div class="clearfix"> </div>
					
				</div>
				<div class="latter-right">
					<p ><font size="3.5">© 1996-2015, Gatorshop.com, Inc. or its affiliates</font> </p>
					<p><font size="3.5">contact us:1-800-800-800</font> </p>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-cate">
					
				</div>
				<div class="footer-bottom-cate bottom-grid-cat">
					
				</div>
				<div class="footer-bottom-cate">
					
				</div>
				<div class="footer-bottom-cate cate-bottom">
					
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>